.lightboxOverlay
  background-color #e1e1e1
  opacity .75

.lb-nav
  a.lb-next
    margin-right 4px
    background url(../img/gallery-next.png) 100% center no-repeat

  a.lb-prev
    margin-left 4px
    background url(../img/gallery-prev.png) 0 center no-repeat
