.panel
  &-in
    width 430px

  &__content
    padding-right 20px
    color #fff
    font-size 20px
    line-height 28px
    text-shadow 0 1px 5px rgba(0, 0, 0, 0.15)

    &.small
      margin-top -10px
      font-size 15px
      line-height 22px
      p
        margin-bottom 15px


// panels
// ================================================
.panel
  &-1
    height 605px
    padding-top 120px

  &-2
    height 605px
    padding-top 0px

  &-3
    height 500px

  &-advairport
    height 595px
    padding-top 235px

  &-advoutside
    height 590px
    padding-top 160px

  &-approach
    height 740px
    padding-top 165px
