//- Variables
//-------------------------------------------------
- var pageTitle = "Primavera"
- var themeColor = "#ffffff"


//- Includes
//-------------------------------------------------
include head
include styles
include scripts


//- Layout
//-------------------------------------------------
doctype html
html
  head
    +head
    +styles

  block layout-body

  +scripts

//- TODO
//- contact: file
//- map pin
