.partners
  padding-top 80px
  padding-bottom 40px
  background #ffc80b

  &__content
    display flex
    flex-flow wrap
    align-items center
    justify-content space-between
    padding-top 60px

    .partner
      flex-basis (100/2)%
      margin-bottom 50px
      text-align center

      &:hover
        opacity .8
