borderbox-all()

html
  height 100%
  font-size 16px
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  // macos
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.l-body
  min-width 960px
  margin 0
  background rgba(0, 0, 0, 0.05)
  @media (min-width: 1300px)
    zoom: 120%
  @media (min-width: 1500px)
    zoom: 140%
  @media (min-width: 1700px)
    zoom: 160%

@-moz-document url-prefix()
  .l-body
    transform-origin top center
    @media (min-width: 1300px)
      transform scale(1.2)
    @media (min-width: 1500px)
      transform scale(1.4)
    @media (min-width: 1700px)
      transform scale(1.6)

.l-page
  overflow hidden
  max-width 1280px
  margin 0px auto
  background #f8fcff

  &-inside
    background #ededee url(../img/bg-inside.jpg) center 0 no-repeat

  &-outside
    background #ededee url(../img/bg-outside.jpg) center 0 no-repeat

  &-cases
    background #f8fcff url(../img/bg-cases.jpg) center 0 no-repeat

  &-partners
    background #f8fcff url(../img/bg-partners.jpg) center 0 no-repeat

.l-wrap
  position relative
  max-width 845px
  margin 0 auto

.l-main
  display block
  position relative
  background #f8fcff

  &-index
    background url(../img/bg-index.jpg) center 0 no-repeat

  &-inside
    margin-top -5px
    background none

  &-padding
    margin-top 20px
    background none
