.pathway
  margin-bottom 80px
  background url(../img/bg-pathway.jpg) center 0 no-repeat

  &__in
    display flex
    align-items center
    height 107px

  .menu
    list-inline()
    color $white
    font-size 23px
    text-transform uppercase
    text-shadow 0 1px 5px rgba(0, 0, 0, 0.15)

  .link
    color $white
    border-bottom 1px solid transparent
    &:hover
      color $blue
      border-bottom-color $blue

  .text
    $font500()

  .sep
    padding 0 10px
