//- Extend layout
//-------------------------------------------------
include ../atoms/**/*.jade
extends ../layout/layout


//- Page
//-------------------------------------------------
block append layout-body
  body.l-body
    +a-loader()

    .l-page.l-page-inside
      +a-header('inside', 'bg-none')


      main.l-main.l-main-inside
        .panel.panel-advairport
          .l-wrap.c-anim-fade-in
            .panel-in
              h3.c-name
                | Реклама <br>
                span.alt в аэропортах
              .panel__content.small Аэропорты сегодня – это важнейшие транспортные артерии с многомилионным пассажиропотоком.<br> И это касается не только московских, но и региональных аэропортов.
        //- panel


        .infos
          .l-wrap
            .infos__content
              +a-infos-item('time', 'время контакта<br>с целевой аудиторией', 'Cреднее время пребывания пассажира в аэропорту составляет 2,5-3 часа.<br>Территория перемещения пассажира ограничена направлением движения, предусмотренными логистической системой аэропорта.')
              +a-infos-item('magic', 'реализация нестандартныхи самых креативных решений', 'Высокая вовлекаемость пассажирав «рекламную игру».<br>ТПовышение узнаваемости брендаза счет привлечения внимание пассажиров и удерживании егона длительный период.')
              +a-infos-item('target', 'Направленная передача информации аудитории', 'Концентрация людей со средним и высоким уровнем дохода. Люди с высокой покупательской способностью, активные потребители товаров и услуг.')
              +a-infos-item('time-r', 'Правило<br>24/7/365', 'Возможность воздействия на  потребителей 24 часа в сутки, 7 дней в неделю, 365 дней в году - без обеденных перерывов и выходных, независимо от времени суток, сезона или погодных условий.')
              +a-infos-item('prod', 'Усиления<br>«веса» бренда', 'Привлекательный имидж Аэропорта, как площадки для размещения рекламы, подчёркивает высокий статус Рекламодателя, стабильность его бизнеса и положение на рынке.')
        //- infos


        .airports
          .l-wrap
            .airports__content
              .airports__left
                +a-airports-item("z", "Жуковский", "Схема", "alt")

              .airports__right
                +a-airports-item("d", "Домодедово")
                +a-airports-item("sh", "Шереметьево")
        //- airports


        .cases.cases_panel
          .l-wrap
            h3.c-name.black
              | Выполненные&nbsp;
              span.alt кейсы
            .cases__content
                +a-case-list('Не забудьте самое главное!', 'В своей работе мы стремимся сделать пребывание пассажира «в пути» более комфортным и интересным, а для Рекламодателей контакт со своим потребителем более эффективным.')
                +a-case-list('Продажи растут', 'а «в пути» более комфортным и интересным, а для Рекламодателей контакт со своим потребителем более эффективным.')
                +a-case-list('Третий блок', 'В своей работе мы стремимся сделать пребывание пассажира «в пути» более комфортным и интересным, а для Рекламодателей контакт со своим потребителем более эффективным.')
            .cases__more
              a(href="cases.html").btn.btn-blue Посмотреть все
        //- cases


        +a-text
        +a-contacts
