//- Extend layout
//-------------------------------------------------
include ../atoms/**/*.jade
extends ../layout/layout


//- Page
//-------------------------------------------------
block append layout-body
  body.l-body
    +a-loader()

    .l-page.l-page-outside
      +a-header('outside', 'bg-none')


      main.l-main.l-main-inside
        .panel.panel-advoutside
          .l-wrap.c-anim-fade-in
            .panel-in
              h3.c-name
                | АУТДОР <br>
                span.alt Реклама
              .panel__content.small
                p Аэропорты сегодня – это важнейшие транспортные артерии с многомилионным пассажиропотоком. Реклама в аэропортах — это эффективный инструмент для амбициозного заявления о себе не толькона российском, но и на международном рынке.
                p Реклама в аэропортах — это эффективный инструмент для амбициозного заявления о себе не только на российском, но и на международном рынке.
        //- panel


        .infos
          .l-wrap
            .infos__content
              +a-infos-item('price', 'Низкая стоимость<br>контакта', 'Наружная реклама относится к наиболее бюджетным каналам коммуникации, если брать в расчет стоимость за тысячу контактов')
              +a-infos-item('contract', 'Неизбежность<br>рекламного контакта', 'Высокая вовлекаемость пассажирав «рекламную игру».Повышение узнаваемости брендаза счет привлечения внимание пассажиров и удерживании егона длительный период')
              +a-infos-item('tested', 'Проверена<br>временем', 'Эффективность наружной рекламы проверена и доказана временем, поэтому "наружка" является одним из основных медиа-инструментов "must have" в любом медиаплане')
              +a-infos-item('multi', 'Мультизадачность', 'Наружной рекламой пользуется, как малый бизнес, так и крупные игроки. В зависимости от задач, стоящих перед компанией наружная реклама может играть на имидж или стать идеальным навигацинно- информационным указателем')
              +a-infos-item('wide', 'Широкий охват', 'Один из самых охватных медиаиз существующих')
        //- infos


        .geographical
          .l-wrap
            .geographical__wrap.c-anim-fade-in
              .geographical__content
                h3.geographical__name География присутствия
                .geographical__city Московская область
                .geographical__text Билборды (щиты 3х6) являются самым распространенным видом наружной рекламы на территории Московской области,  давно зарекомендовавшим себя как доступный и эффективный носитель.
                .geographical__show: a(href="#").btn Посмотреть на карте
              .geographical__pic
        //- geographical


        .cases.cases_panel
          .l-wrap
            h3.c-name.black
              | Выполненные&nbsp;
              span.alt кейсы
            .cases__content
                +a-case-list('Не забудьте самое главное!', 'В своей работе мы стремимся сделать пребывание пассажира «в пути» более комфортным и интересным, а для Рекламодателей контакт со своим потребителем более эффективным.')
                +a-case-list('Продажи растут', 'а «в пути» более комфортным и интересным, а для Рекламодателей контакт со своим потребителем более эффективным.')
                +a-case-list('Третий блок', 'В своей работе мы стремимся сделать пребывание пассажира «в пути» более комфортным и интересным, а для Рекламодателей контакт со своим потребителем более эффективным.')
        //- cases

        +a-text
        +a-contacts
