// Links
// ================================================
a
  display inline-block
  color $color-link
  $font-primary()
  tdn()
  anim()

.item.active > .link
  cursor default

.btn
  padding 8px 38px
  color $white
  font-size 15px
  line-height 28px
  text-transform uppercase
  background none
  border 1px solid $white
  anim()
  cursor pointer

  &:hover
    color #6b5891
    background-color $white
    border-color $white

.btn-big
  padding 12px 66px
  font-size 20px
  font-family $f300
  &:hover
    color #f05738

.btn-blue
  color $blue
  background-color transparent
  border 1px solid $blue
  &:hover
    color $white
    background-color $blue
    border-color $blue

.btn-yellow
  border-color #ffc80b
