// item
// ===============================================
.infos__item
  flex-basis (100/3.3)%
  padding-bottom 60px
  color $white
  font-size 15px
  line-height 23px

  .pic
    display flex
    align-items flex-end
    height 95px
    margin-bottom 30px

  .name
    margin-bottom 15px
    $font500()
    text-transform uppercase


// parent
// ===============================================
.infos
  height 860px

  &__content
    display flex
    flex-wrap wrap
    justify-content space-between

    &:after
      content ""
      flex-basis (100/3.3)%
