mixin a-text()
  .texts
    .l-wrap
      h3.c-name.texts__name
        | Индивидуальный подход<br>
        span.alt К решению ваших задачи
      .texts__content
        mixin texts-item(name, text)
          .texts__item.c-anim-fade-in
            .name= name
            .text= text
        +texts-item('Уникальность', 'Решаем задачи комплексным обслуживанием, а не единичными случаями')
        +texts-item('Прямой контакт', 'lorem ipsum - это рыба текст, часто используемый в графическом и веб-дизайне')
        +texts-item('Актуальность', 'Данный вид рекламы будет актуален на протяжении долгих лет, пока не изобретут телепорт')
        +texts-item('Творческий подход', 'lorem ipsum - это рыба текст, часто используемый в графическом и веб-дизайне')
        +texts-item('Удобство и скорость', 'Наличие автоматизированной системы управленияс клиентами')
    //- texts
